.footer-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 360px; /* Height of the footer */
  background: #d2dde4;
}

.footer-lft {
  width: 300px;
  margin-left: -100px;
  margin-top: -52px;
}

.footer-Name {
  width: 50px;
}
.FootImage {
  margin-top: 10px;
  margin-left: 15px;
  width: 40px;
  height: 40px;
}

.Name {
  margin-left: 70px;
  margin-top: -40px;
  white-space: nowrap;
  font-size: 30px;
  color: #ff0000;
  font-weight: bold;
}

.Name span {
  color: #104b6f;
  font-size: 30px;
  font-weight: normal;
  margin-left: -5px;
}

.footer-lft p {
  color: #104b6f;
}

.footer-mdl1 {
  display: inline-block;
  margin-top: 0px;
  margin-left: 70px;
}
.footer-mdl1 h3 {
  white-space: nowrap;
  margin-left: 38px;
  color: #104b6f;
}

.footer-mdl2 {
  display: inline-block;
  margin-left: 70px;
  /* margin-top: -550px; */
}
.footer-mdl2 h3 {
  white-space: nowrap;
  margin-left: 38px;
  color: #104b6f;
}

.footer-RGHT {
  width: 200px;
  margin-left: 150px;
  /* line-height: 10px; */
  margin-top: -90px;
}

.footer-RGHT h3 {
  /* margin-left: 40px; */
  color: #104b6f;
  margin-top: 70px;
}

.subscribe span {
  font-size: 12px;
  white-space: nowrap;
}

.foot-item {
  list-style: none;
  text-decoration: none;
  text-align: left;
  color: #104b6f;
}

.foot-links {
  color: #104b6f;
  text-decoration: none;
  font-size: 10px;
  line-height: 22px;
}

.EmailContainer {
  flex-direction: row;
  background-color: #d2dde4;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #104b6f;
  border-radius: 10px;
  width: 200px;
  margin-top: 10px;
}
.email {
  width: 145px;
  background-color: transparent;
  /* flex: 1; */
  /* margin-left: 20px; */
  padding-left: 10px;
  height: 30px;
  outline: none;
  border: none;
}

.submit-btn {
  background-color: #ff0000;
  width: 45px;
  height: 30px;
  border-radius: 8px;
  /* z-index: 999; */
  /* margin-top: -15px; */
  margin-left: 3px;
}
.arrow {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.CompanyName span {
  white-space: nowrap;
  /* margin-left: 90px;
  margin-top: -15px; */
  font-size: 12px;
}

.compName {
  display: inline-block;
}

.GST {
  display: inline-block;
}

.GST span {
  font-size: 12px;
}

::placeholder {
  color: #104b6f;
  text-align: left;
}

@media screen and (max-width: 960px) {
  .footer-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .footer-lft {
    justify-self: self-start;
    /* margin-top: -180px; */
    margin-left: 50px;
  }

  .footer-mdl1 {
    margin-left: -150px;
    font-size: 10px;
  }

  .footer-mdl2 {
    margin-left: 150px;
    margin-top: -180px;
    font-size: 10px;
  }

  .footer-RGHT {
    font-size: 10px;
    margin-top: -40px;
    margin-left: -25px;
  }

  .footer-RGHT h3 {
    margin-left: 5px;
  }

  .subscribe span {
    font-size: 10px;
    white-space: nowrap;
    margin-left: 5px;
  }
}
