.Tempcontainer {
  margin-top: 150px;
}
.we-do-Conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1080px;
  /* margin-left: -500px; */
}
.heading {
  margin-top: 150px;
  margin-left: -80px;
  color: #104b6f;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 200px;
  margin-top: 75px;
  margin-left: -80px;
}

.Service-24 {
  margin-left: 0px;
  font-size: 10px;
  line-height: 15px;
  color: #104b6f;
  /* width: 233px;
    height: 92px; */
  text-align: left;
  letter-spacing: 0px;
}
.XpressDelivery {
  margin-left: 120px;
  font-size: 10px;
  line-height: 15px;
  color: #104b6f;
  /* width: 233px;
      height: 92px; */
  text-align: left;
  letter-spacing: 0px;
}

.EasyPayment {
  margin-left: 120px;
  font-size: 10px;
  line-height: 15px;
  color: #104b6f;
  /* width: 233px;
      height: 92px; */
  text-align: left;
  letter-spacing: 0px;
}

.LocalPharmacy {
  margin-left: 120px;
  font-size: 10px;
  line-height: 15px;
  color: #104b6f;
  /* width: 233px;
      height: 92px; */
  text-align: left;
  letter-spacing: 0px;
}

.Service-24 span,
.LocalPharmacy span,
.EasyPayment span,
.XpressDelivery span {
  color: #ff0000;
  display: inline-block;
  margin-bottom: 20px;
}

.ExpressDeliveryImg,
.hourServiceImg,
.EasyPaymentImg,
.LocalPharmacyImg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.ExpressDeliveryImg,
.LocalPharmacyImg {
  margin-top: 15px;
}

@media screen and (max-width: 960px) {
  .Tempcontainer {
  }

  .heading {
    margin-left: 20px;
    margin-top: 400px;
    margin-bottom: -15px;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .EasyPayment,
  .XpressDelivery,
  .Service-24,
  .LocalPharmacy {
    width: 70px;
    /* margin-top: -20px; */
  }
  .XpressDelivery span,
  .Service-24 span,
  .EasyPayment span,
  .LocalPharmacy span {
    margin-top: -50px;
  }

  .ExpressDeliveryImg,
  .EasyPaymentImg,
  .hourServiceImg,
  .LocalPharmacyImg {
    width: 50px;
    height: 50px;
  }

  .Service-24 {
    margin-left: -90px;
  }

  .XpressDelivery {
    margin-top: -240px;
    margin-left: 250px;
  }

  .EasyPayment {
    margin-top: 50px;
    margin-left: -100px;
  }

  .LocalPharmacy {
    margin-top: -240px;
    margin-left: 250px;
  }
}
